<head>

</head>
<body>
    <div class="section">
        <div class="section-small">
            <div class="section-header">Scraper</div> 
            <button class="inline" id="scrapeButton">Scrape</button> 
            <input type="checkbox" id="resultCheckbox" checked=True> results
            <input type="checkbox" id="fixturesCheckbox" checked=True> fixtures
            <div class="lm-10 inline">Last Scraped: <div class="inline" id="lastScraped_text"></div>{{websiteInfo.lastScraped}}</div> 
        </div>
        <div class="section-small">
            <button class="inline" id="scrapeButton">Scrape Missing</button> 
        </div>
    </div>


    <div class="section">
        <div class="section-header">Bets to make</div> 
        <div>Edge cutoff: <input disabled id="myRangeInput" class="inline" value=0.05></input></div>
        <button id="updateButton" style="margin-right: 10px">Update</button><button id="refreshButton">Refresh</button>
    </div>
    <div>
        <table>
            {% for o in bets %}
                <tr id={{o.id}}>
                    <td>{{o.id}}</td>
                    <td>{{o.lTeam}} v. {{o.rTeam}}</td>
                    {% if o.ledge > o.redge %}
                        <td>{{o.lTeam}}</td>
                        <td>{{o.lLine}}</td>
                        <td>{{o.ledge}}</td>
                        <td><button onclick='placeBet("{{o.id}}", 0, "{{o.ledge}}", "{{o.lLine}}", "{{o.redge}}", "{{o.rLine}}", "{{o.platform}}")'>Place Bet</button></td>
                        <td><a href="{{o.link}}">Link</a></a></td>
                    {% else %}
                        <td>{{o.rTeam}}</td>
                        <td>{{o.rLine}}</td>
                        <td>{{o.redge}}</td>
                        <td><button onclick='placeBet("{{o.id}}", 1, "{{o.ledge}}", "{{o.lLine}}", "{{o.redge}}", "{{o.rLine}}", "{{o.platform}}")'>Place Bet</button></td>
                        <td><a href="{{o.link}}">Link</a></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="section">
        <div class="section-header">Pending Bets</div> 
    </div>
    <div>
        <table>
            {% for o in pending %}
                <tr id=placedBet{{o.id}}>
                    <td>{{o.id}}</td>
                    <td><a href='https://www.flashscore.com/match/{{o.id}}/#match-summary'>Link</a></td>
                    <td><button onclick='removePlaced("{{o.id}}")'>Remove</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div class="section">
        <div class="section-header">Model Performance  <button onclick='updateModelPerformance()'>Update</button></div> 
        Bets Placed: <span id="numBets"></span>
        <div id="TVA_chart" style="width: 900px; height: 500px"></div>
    </div>

    <div>
        <button onclick='openBrowser()'>OpenBrowser</button>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {


        getEstimatedVsActualProfit()
      }
    </script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    {% block javascript %}
    <script>
        document.onload = load()
        function load() {
            getPlacedBets()
        }
        function openBrowser() {
            console.log("asdfasdf")
            $.ajax({
            url: 'openBrowser',
            data: {
            },
            dataType: 'json',
            success: function (data) {
            },
            error: function (error) {
            }
            });
        }
        function removePlaced(id) {

            $.ajax({
            url: 'removePlaced',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                $("#placedBet" + id).remove()
            },
            error: function (error) {
                console.log(error)
            }
            });
        }
        function getEstimatedVsActualProfit() {
            d = ''
            yAxis = {
                title: '',
            }
            $.ajax({
            url: 'getEstimatedVsActualProfit',
            data: {
                betAmount: 0.10
            },
            type: 'get',
            dataType: 'json',
            success: function (data) {

                d = [['bet', 'theoretical', 'actual', 'actualte', 'id', 'payout', 'line', 'tepayout']]
                for(i = 0; i < data.actual.length; i++) {
                    d.push([i, data['actual'][i], data['te'][i], data['actualte'][i], data['id'][i], data['payout'][i], data['line'][i], data['tepayout'][i]])
                }
                console.log(d)
                d = [['bet', 'theoretical', 'actual', 'actualte']]
                for(i = 0; i < data.actual.length; i++) {
                    d.push([i, data['actual'][i], data['te'][i], data['actualte'][i]])
                }
                console.log(d)
                var data = google.visualization.arrayToDataTable(d);

                var options = {
                title: 'Theoretical vs Actual',
                curveType: 'line',
                legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('TVA_chart'));

                chart.draw(data, options);
            },
            error: function (error) {
                console.log(error)
            }
            });
        }
        function getPlacedBets() {
            d = ''
            yAxis = {
                title: 'Win %',
                maximum: 100,
                minimum: 0
            }
            $.ajax({
            url: 'getPlacedBets',
            data: {},
            dataType: 'json',
            success: function (data) {
                document.getElementById("numBets").innerHTML=JSON.stringify(data); 
            },
            error: function (error) {
                console.log(error)
            }
            });
            return d
        }
        function updateModelPerformance() {
            $.ajax({
            url: 'updateModelPerformance',
            data: {},
            dataType: 'json',
            success: function (data) {
                getEstimatedVsActualProfit()
            },
            error: function (error) {
                console.log(error)
            }
            });
        }
        function placeBet(id, team, ledge, lline, rline, redge, site) {
            d = {
                'id':id,
                'teamSide':team,
                'lline':lline,
                'ledge':ledge,
                'rline':rline,
                'redge':redge,
                'site':site
            }
            $.ajax({
            url: 'placeBet',
            data: d,
            dataType: 'json',
            success: function (data) {
                $("#" + id).remove()
            },
            error: function (error) {
                $("#" + id).remove()
            }
            });
        }
        function refreshBets() {
            $.ajax({
            url: 'getBets',
            dataType: 'json',
            success: function (data) {
                bets = data.bets
                content = ''
                for(i = 0; i < bets.length; i++) {
                    b = bets[i]
                    content += '<tr id="' + b['id'] + '">'
                    content += '<td>' + b['time'] + '</td>'
                    content += '<td>' + b['id'] + '</td>'
                    content += '<td>' + b['lTeam'] + '</td>'
                    content += '<td>' + b['rTeam'] + '</td>'
                    content += '<td>' + b['lWinPred'] + '</td>'
                    content += '<td>' + b['rWinPred'] + '</td>'
                    content += '<td>' + b['lLine'] + '</td>'
                    content += '<td>' + b['rLine'] + '</td>'
                    content += '<td>' + b['ledge'] + '</td>'
                    content += '<td>' + b['redge'] + '</td>'
                    content += '<td><a href=' + b['platform'] + '>' + b['platform'] + '</a></td>'
                    content += '<td><button onclick="placeBet(&quot;' + b['id'] + '&quot;)">Bet</button>'
                    content += '<tr>'
                }
                $('#betsTableBody').html(content);
            },
            });
        }
        $("#refreshButton").click(refreshBets());
        $("#scrapeButton").click(function () {
            $("#scrapeButton").prop('disabled', true)
            $("#scrapeButton").html("Scraping")
            $.ajax({
            url: 'scrapeEntire',
            type: "get",
            data: {
                'results': document.getElementById("fixturesCheckbox").checked,
                'fixtures': document.getElementById("resultCheckbox").checked
            },
            dataType: 'json',
            success: function (data) {
                $("#scrapeButton").prop('disabled', false)
                $("#scrapeButton").html("Scrape Entire")
            },
            error: function (error) {
                console.log(error)
            }
            });
        });
        $("#updateButton").click(function () {
            $("#updateButton").prop('disabled', true)
            $("#updateButton").html("Updating")
            $.ajax({
            url: 'scrapeBets',
            data: {
            },
            dataType: 'json',
            success: function (data) {
                $("#updateButton").prop('disabled', false)
                $("#updateButton").html("Update")
                bets = data['bets']
                refreshBets()
            },
            error: function (error) {
                console.log(error)
            }
            });
        });
    </script>
    {% endblock %}
</body>
<style>
    .inline {display:inline}
    .lm-10 {margin-left:20px}
    .section {padding-bottom: 20px}
    .section-small {padding-bottom: 10px}
    .section-header {font-size:30px; font-weight:bold; padding-bottom: 5px}
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>